<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|70","margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)">

	<!-- wp:heading {"textAlign":"center","level":1,"align":"wide","style":{"spacing":{"margin":{"top":"0"}}}} -->
	<h1 class="alignwide has-text-align-center" style="margin-top:0">Blog</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"align":"center","textColor":"secondary","className":"ondertitel"} -->
	<p class="has-text-align-center ondertitel has-secondary-color has-text-color">Van de Zwolse klimaatburgemeesters</p>
	<!-- /wp:paragraph -->

	<!-- wp:pattern {"slug":"dng/loop-default"} /-->
		
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->